@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900');

body{
    background-color: rgb(255, 11, 11);
    color: white;
    font-family: "Roboto",Arial, Helvetica, sans-serif ;
}
header img{
    width: 100px;
    height: 100px;
}